/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Nov-2017, 10:48:29
    Author     : KhairulIkram
*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Helvatica, sans-serif;
    font-size: 12.5px;
    background-color: #7f99c4;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 1.5px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #2c4266;
}
.headerMenu {
    background-color: #2c4266;
    height: 120px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: activeborder;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}
#wrapper {
    margin: auto;
    padding: auto;
    width: 1000px;
}
.logo {
    width: 90px;
    position: absolute;
    top: 2.5%;
    right: 5%;
    background-color: #2c4266;
}
.logo img {
    border: 3px solid aliceblue;
    width: 80px;
    height: 80px;
    background-color: #2c4266;
}
.search_box {
    position: absolute;
    margin-left: auto;
    left: 2.5%;
    top: 80px;
}
#search input[type="text"] {
    background: url(../img/mag_glass_search_gray.png) no-repeat 4px 2px #267bb6;
    outline: none;
    border: 0 none;
    font: bold 12px Arial, Helvetica, sans-serif;
    width: 350px;
    padding: 6px 15px 6px 35px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#search input[type="text"]:focus {
    background: url(../img/mag_glass_search_blue.png) no-repeat 4px 2px #fcfcfc;
    color: #6a6f75;
    width: 350px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.login_box {
    position: absolute;
    margin-left: auto;
    right: 20%;
    top: 72.5px;
    font: bold 12px Arial, Helvetica, sans-serif;
    padding: 6px 15px 6px 35px;
    background-color: #2c4266;
}
#login {
    background-color: #2c4266;
    outline: none;
    border: 0 none;
}
#email {
    background-color: #ffffcc;
}
#passwd {
    background-color: #ffffcc;
}
#button_login {
    background-color: #2c4266;
    font: bold 12px Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    color: #fcfcfc;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
}
#button_login:hover {
    background-color: #0099cc;
    font: bold 12.5px Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    color: #fcfcfc;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
}
#inSignUp {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    font-size: 15.5px;
    padding: 5px;
    width: 298px;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: none;
}
.tableSignUp {
    align-content: center;
    width: 1650px;
    padding-top: 12px;
    padding-left: 18px;
    padding-bottom: 12px;
    padding-right: 18px;
    margin: 8px;
}
#button_signup {
    background-color: #009900;
    font: bold 18px Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fcfcfc;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    border-radius: 7px;
}
#button_signup:hover {
    background-color: #339900;
    font: bold 18px Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fcfcfc;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-right: 5px;
    border-radius: 7px;
}
input[type="text"]:hover {
    border: 1px solid #006fc4;
}
.bottom {
    
}